<button routerLink="register">Register</button>
<button routerLink="login">Login</button>
<button *ngIf="token != null " routerLink="authenticated">authenticated</button>
<button *ngIf="token != null" (click) = "logout()">logout</button>
<button *ngIf="admin != null" routerLink="admin">Admin Priveleges</button>
    <router-outlet></router-outlet>
    <h1>Draft My Schedule!!!!</h1>
<h2>This site is a replica of draft my schedule. It will allow you to see publically accessible scheduales and login to make your own scheduales. Administrators can also log in and make various changes to user profiles</h2>
<body>
    
    
    <div>
        <h2>Find courses</h2>
        <span>
            Subject: <input #subject type="text">
            Course Code with or Without Suffix: <input #courseCode type="text">
            <button (click)="getCourseComponents(subject.value,courseCode.value)">Find all course codes</button>
            <button (click)="resetCoursesSearch()">reset search</button>
        </span>
        <!-- <ol>
            <li *ngFor="let courseComponent of allCourseComponents" [ngStyle] ="{'background-color':(courseComponent.ssr_component=='LEC'? '#30D5C8' : (courseComponent.ssr_component=='LAB'? '#FF7F50' : '#b19cd9'))}"[courseComponent]="courseComponent">{{courseComponent.subject}} | {{courseComponent.catalog_nbr}} | {{courseComponent.className}} | Days: {{courseComponent.days}} | Start Time: {{courseComponent.start_time}} | Location: {{courseComponent.facility_ID}} | Type: {{courseComponent.ssr_component}}</li>
        </ol> -->
        <mat-expansion-panel *ngFor="let courseComponent of allCourseComponents">
            <mat-expansion-panel-header>
                <mat-panel-title>{{courseComponent.subject}} | {{courseComponent.catalog_nbr}} | {{courseComponent.className}} | Days: {{courseComponent.days}} | Start Time: {{courseComponent.start_time}} | End Time: {{courseComponent.end_time}} | Location: {{courseComponent.facility_ID}} | Type: {{courseComponent.ssr_component}}</mat-panel-title>
            <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor = "let review of courseComponent.reviews">Review: {{review.review}} || Username: {{review.userName}} || Date: {{review.creationDate}}</p>
            </mat-expansion-panel>
        <h2>Find courses by Keyword</h2>
        <span>
            keyword <input #keyword type="text">
            <button (click)="keyWordSearch(keyword.value)">Find all course codes</button>
            <button (click)="resetKeywordSearch()">reset search</button>
        </span>

        <mat-expansion-panel *ngFor="let searchItem of keyWordSearchItems">
            <mat-expansion-panel-header>
                <mat-panel-title>{{searchItem.subject}} | {{searchItem.catalog_nbr}} | {{searchItem.className}} | Days: {{searchItem.days}} | Start Time: {{searchItem.start_time}} | End Time: {{searchItem.end_time}} | Location: {{searchItem.facility_ID}} | Type: {{searchItem.ssr_component}}</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor = "let review of searchItem.reviews">Review: {{review.review}} || Username: {{review.userName}} || Date: {{review.creationDate}}</p>
        </mat-expansion-panel>
    </div>
    <div>
        <h2>See Public Course Lists</h2>
        <button (click)="getPublicCourseLists()">See up to 10 public course Lists</button>
        <button (click)="resetPublicCourseLists()">reset search</button>
        <mat-expansion-panel *ngFor="let schedule of courseLists">
            <mat-expansion-panel-header>
                <mat-panel-title>Name: {{schedule.name}} || Creater Username: {{schedule.username}} || Number of Courses: {{schedule.courses.length}}</mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Description: {{schedule.description}}</p>
            <mat-expansion-panel *ngFor = "let course of schedule.courses">
                <mat-expansion-panel-header>
                    <mat-panel-title>Subject: {{course.subject}} | Course Number: {{course.catalog_nbr}} | Class Name: {{course.className}}</mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p> Days: {{course.days}} | Start Time: {{course.start_time}} | End Time: {{course.end_time}} | Location: {{course.facility_ID}} | Type: {{course.ssr_component}}</p>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </div>
   
</body>
