<button routerLink="register">Register</button>
<button routerLink="login">Login</button>
    <router-outlet></router-outlet>
    <h1>Draft My Schedule!!!!</h1>
<h2>This site is a replica of draft my schedule. It will allow you to see publically accessible scheduales and login to make your own scheduales. Administrators can also log in and make various changes to user profiles</h2>
<body>
    
    
    <div>
        <h2>Find all components for a given course code</h2>
        <span>
            Subject: <input #subject type="text">
            Course Code with or Without Suffix: <input #courseCode type="text">
            <button (click)="getCourseComponents(subject.value,courseCode.value)">Find all course codes</button>
        </span>
       
        <ol>
            <li *ngFor="let courseComponent of allCourseComponents" [ngStyle] ="{'background-color':(courseComponent.ssr_component=='LEC'? '#30D5C8' : (courseComponent.ssr_component=='LAB'? '#FF7F50' : '#b19cd9'))}"[courseComponent]="courseComponent">{{courseComponent.class_nbr}} | Days: {{courseComponent.days}} | Start Time: {{courseComponent.start_time}} | Location: {{courseComponent.facility_ID}} | Type: {{courseComponent.ssr_component}}</li>
        </ol>
    </div>
    
   
</body>
