<body>
    <router-outlet></router-outlet>
    <button routerLink="">Back home</button>
    <p>Please register</p>
    <span>
        email: <input #email type="email" id="email" name="email" >
        username: <input #username type="text" id="username" name="username" >
        password: <input #password type="text"  id="password" name="password">
        <button (click)="register(email.value,username.value,password.value)">Register</button>
        <a routerLink="/validated" (click) = "validate(validateToken)">{{validateToken}}</a>
    </span>
</body>
