<router-outlet></router-outlet>
<button routerLink="">Back home</button>
<div>
    <h2>Make a Schedule</h2>
    Schedule Name: <input #scheduleName type="text">
    Description: <input #description type="text">
    Do you want it to be public?<input #public type="text">
    <button (click) ="putScheduleName(scheduleName.value, description.value, public.value)" >Add Schedule</button>
    <button (click) ="deleteSchedule(scheduleName.value)">Delete Schedule</button>
</div>

<div>
    <h2>See schedule summary</h2>
    <button (click)="getAllSchedules()">See summary</button>
    <!-- <button (click)="deleteAllSchedules()">Delete All Schedules</button> -->
    <ol>
        <li *ngFor="let schedule of scheduleSummary" [schedule]="schedule"> Schedule Name: {{schedule[0]}} | Description: {{schedule[1]}} |Amount of Courses: {{schedule[2]}}</li>
    </ol>
</div>

<div>
    <h2>Edit a course List</h2>
    Schedule Name: <input #editScheduleName type="text">
    New Name: <input #editScheduleName type="text">
    New Description: <input #editDescription type="text">
    Do you want it to be public Still?<input #editPublic type="text">
    Add Course<input #addCourse type="text">
    Delete Course <input #deleteCourse type="text">
    <button (click)="editSchedule(editScheduleName, editDescription, editPublic, addCourse, deleteCourse)">Save changes</button>
    <!-- <button (click)="deleteAllSchedules()">Delete All Schedules</button> -->
</div>