<router-outlet></router-outlet>
<button routerLink="">Back home</button>
<p *ngIf="admin">You are an Admin!</p>
<div>
    <h2>Make a Schedule</h2>
    Schedule Name: <input #scheduleName type="text">
    Description: <input #description type="text">
    Do you want it to be public?<input #public type="text">
    <button (click) ="putScheduleName(scheduleName.value, description.value, public.value)" >Add Schedule</button>

<div>
    <h2>See schedule summary</h2>
    <button (click)="getAllSchedules()">See summary</button>
    <button (click) = "resetSummary()">clear summary</button>
</div>
    <ol>
        <li *ngFor="let schedule of scheduleSummary" [schedule]="schedule"> Schedule Name: {{schedule[0]}} | Description: {{schedule[1]}} |Amount of Courses: {{schedule[2]}}</li>
    </ol>
    <div>
        <h2>See Specific Schedule</h2>
        Schedule Name: <input #specificScheduleName type="text">
        <button (click)="getSchedule(specificScheduleName.value)">See Schedule</button>
        <button (click) = "resetSchedule()">clear schedule</button>
    </div>
    <mat-expansion-panel *ngIf = "schedule">
        <mat-expansion-panel-header>
            <mat-panel-title>Schedule Name: {{schedule.name}} | Description: {{schedule.description}} | Is Public: {{schedule.isPublic}}</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngFor = "let course of schedule.courses"> Subject: {{course.subject}} | Course Number: {{course.catalog_nbr}} | Days: {{course.days}} | Start Time: {{course.start_time}} | End Time: {{course.end_time}} | Location: {{course.facility_ID}} | Type: {{course.ssr_component}}</p>
    </mat-expansion-panel>
</div>

<div>
    <h2>Edit a course List</h2>
    Schedule Name: <input #editScheduleName type="text">
    New Name: <input #newName type="text">
    New Description: <input #editDescription type="text">
    Do you want it to be public Still?<input #editPublic type="text">
    Add Course<input #addCourse type="text">
    Delete Course <input #deleteCourse type="text">
    <button (click)="editSchedule(editScheduleName.value, newName.value, editDescription.value, editPublic.value, addCourse.value, deleteCourse.value)">Save changes</button>
    
</div>

<div>
    <h2>Delete a Course List</h2>
    Schedule Name: <input #deleteScheduleName type="text">
    <button (click) = "confirmDelete()">delete</button>
    <button *ngIf ="confirmDeleteTrigger" (click)="deleteSchedule(deleteScheduleName.value)">confirm delete</button>
    <button *ngIf ="confirmDeleteTrigger" (click)="declineDelete()">decline delete</button>
</div>

<div>
    <h2>Add A course review</h2>
    Course Name <input #courseName type="text">
    Review <input #review type="text">
    <button *ngIf = "!confirmReviewTrigger" (click) = "confirmReview()">Add Review</button>
    <button *ngIf = "confirmReviewTrigger" (click) = "addReview(courseName.value, review.value)">Are you sure you want to save this Review</button>
    <button *ngIf = "confirmReviewTrigger" (click) = "declineReview()"> decline confirmation</button>
    
</div>

<div>
    <h2>Update Password</h2>
    New Password <input #newPassword type="password">
    Confirm Password <input #confirmedPassword type="password">
    <button (click) = "updatePassword(newPassword.value, confirmedPassword.value)"> Change Password</button> 
</div>

    
    


